<h4>Existing Collaborators</h4>
<% collaborators.each do |user| %>
  <%= link_to "", wiki_collaborator_path(wiki_id: wiki.id, user_id: user.id), class: 'glyphicon glyphicon-remove', method: :delete %>
  <%= user.name %> 
  <br>
<% end %>

<h4>Add a user as a collaborator</h4>
<% non_collaborators.each do |user| %>
  <%= link_to "", wiki_collaborators_path(@wiki, user_id: user.id), class: 'glyphicon glyphicon-ok', method: :post %>
  <%= user.name %>  
  <br>
<% end %>