<h1>Edit a Wiki</h1>

<div class="row">
  <p>You are editing a wiki. Guidelines: Make sure the information is accurate!</p>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render partial: 'form', locals: {wiki: @wiki} %>
  </div>
</div>

</div>