<h1>Edit a Wiki</h1>
<%= link_to "<< return to the wiki", @wiki %>
<br><br>
<p>You are editing a wiki. Guidelines: Make sure the information is accurate!</p>
<%= render partial: 'form', locals: {wiki: @wiki} %>