<h1>Edit a Wiki</h1>
<%= link_to "<< return to the wiki", @wiki %>
<br><br>
<p>You are editing a wiki. Guidelines: Make sure the information is accurate!</p>
<div class="row">
  <div class="col-md-8">
    <%= render partial: 'form', locals: {wiki: @wiki} %>
  </div>
  <% if @wiki.can_modify_wiki?(current_user) %>
    <div class="col-md-4">
      <%= render partial: 'collaborators/form', locals: {wiki: @wiki, collaborators: @collaborators, non_collaborators: @non_collaborators} %>
    </div>
  <% end %>
</div>

